h1 {
    color: plum;
    text-align: center;
  }
  
  h2 {
    font-style: italic;
    text-align: center;
    color: rgb(61, 211, 211);
  }
  h3 {
    color: purple;
  }
  
  p {
    color: magenta;
    text-align: center;
  }

  body {
    background-color: palegreen;
    text-align: center;
  }
  .flashy {
    color:red;
    font-style: italic
  }
  #best {
    Color: blue
  }

  li {
    text-align: center;
    color: blueviolet;
  }

  
